<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppStoreConnectionStringtest" connectionString="Data Source=beasttestnu3;Initial Catalog=AppStore;Integrated Security=false; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
    <add name="AppStoreConnectionStringdemo" connectionString="Data Source=beastdemo1;Initial Catalog=AppStore;Integrated Security=false; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="AppsTable" value="AppStore_Application_Mst"/>-->
    <add key="AppDefaultPth" value="C:\inetpub\wwwroot" />
    <add key="SifDefaultPth" value="D:\" />
    <add key="InterFaceProperties" value="D:\Projects\VCMWeb_Dev\Dot Net Framework 4.0\SDK\Sif_To_Html\bin\Debug\" />
  </appSettings>
</configuration>