/**
 * All selectors must have .YOUR_APP_ID as a prefix. 
 */
 .savory_order_master table {
	margin:0;
}
.savory_order_master tbody td {
	text-align: right;
}
.savory_order_master .last {
}
.savory_order_master .last-change {
	font-size:80%;
}
.savory_order_master .positive {
	color: green;
}
.savory_order_master .negative {
	color: red;
}

.savory_order_master .input-append {
	padding-bottom:7px;
	padding-top:7px;
}

.savory_order_master p.hi {
	font-weight: bold;
	font-size: 20px;
}

