@charset "utf-8";
/* Fonts CSS Import */
@import url("fonts/fonts.css");
/* CSS Document */
body
{
    /*background: url(../images/body_bg.jpg) repeat-x top left;*/
    margin: 0px;
    padding: 0px;
}

h1
{
    color: #75A537;
    /*font-family: 'futura_bk_btbook', FuturaBookBook, serif;*/
    font-family: sans-serif,Arial, Verdana;
    font-size: 32px;
    padding: 10px 0 3px 1px;
    border-bottom: solid 7px #75A537;
    float: left;
    font-weight: 400;
    letter-spacing: 3px;
}

h2
{
    /*color: #000;
    font-family: 'CorbelRegular', CorbelRegular;
    font-size: 16px;
    padding: 10px 0;*/
    font-weight: bold;
    color: #000;
    /*font-family: 'CorbelRegular', CorbelRegular;*/
    font-family: sans-serif,Arial, Verdana;
    text-align: justify;
    font-size: 15px;
    padding: 10px 0;
    line-height: 40px;
}

p
{
    font-size: 14px;
    font-weight: normal;
    /*font-family: 'CorbelRegular', CorbelRegular, Arial, sans-serif;*/
    font-family: sans-serif,Arial, Verdana;
    text-align: justify;
    line-height: 20px;
}


/*MAIN MENU*/
/*START
.navbar .nav > li > a
{
    font-family: "CalibriRegular", CalibriRegular, Calibri, Arial, sans-serif;
    color: #FFF;
    /*padding: 10px 10px 5px 10px;
    padding: 5px 5px 5px 5px;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
}

    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover
    {
        color: #75A537;
        text-decoration: none;
        background-color: transparent;
    }

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus
{
    color: #75A537;
    background-color: transparent;
}

.menuborder
{
    float: right;
    border: solid 2px #110f10;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

END*/

/*SLIDER*/
/*START*/
.carousel-control
{
    position: absolute;
    top: 60%;
    left: -40px;
    width: 20px;
    height: 20px;
    margin-top: -20px;
    font-size: 34px;
    font-weight: 100;
    line-height: 11px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: .5;
    filter: alpha(opacity=50);
}

.carousel-inner h1
{
    /*font-family: 'futura_bk_btbook', FuturaBookBook, serif;*/
    font-family: sans-serif,Arial, Verdana;
    font-size: 26px;
    color: #9D9FA3;
    padding: 0;
    margin: -5px 0 0 0;
    color: #9D9FA3;
    border: 0px;
    letter-spacing: 1px;
}

.carousel-inner h2
{
    font-size: 20px;
    color: #75A537;
    padding: 3px 0 7px 0;
    margin: 0px;
}

.carousel-inner .info
{
    /*font-family: 'CalibriRegular', CalibriRegular, Arial, sans-serif;*/
    font-family: sans-serif,Arial, Verdana;
    font-size: 13px;
    text-align: justify;
    color: #FFF;
    padding: 10px 0;
    margin: 0px;
    line-height: 20px;
    background: url(../images/body_bg.jpg) repeat-x top left;
}

.carousel-indicators
{
    position: relative;
    top: 15px;
    right: 15px;
    z-index: 5;
    margin: 0;
    list-style: none;
    vertical-align: middle;
}

a.more
{
    padding-left: 5px;
    color: #72ae13;
    text-decoration: underline;
    font-size: 12px;
}

    a.more:hover
    {
        text-decoration: none;
    }

/*END*/

/*HOME PAGE CONTENT*/
/*START*/
.appstore
{
    /*background: url(../images/icon_app_store.png) no-repeat left center;*/
    background: url(../images/appstore-icon-2.jpg) no-repeat left top;
    padding-left: 60px;
    height: 50px;
    padding-top: 10px;    
}


.product_services
{
    /*background: url(../images/icon_products_services.png) no-repeat left center;*/
    background: url(../images/prod-serv-icon-1.jpg) no-repeat left top;
    padding-left: 60px;
    height: 50px;
    padding-top: 10px;
}


.dev_zone
{
    /*background: url(../images/icon_dev_zone.png) no-repeat left center;*/
    background: url(../images/devzone-icon-1.jpg) no-repeat left top;
    padding-left: 60px;
    height: 50px;
    padding-top: 10px;
}

.thebeast_app
{
    height: 40px;
    padding-top: 20px;
    border-bottom: solid 3px #7BA43A;
}
/*END*/

/*FOOTER*/
/*START*/
.footer
{
    background: #231F1F url(../images/footer_bg.jpg) repeat top left;
    padding: 15px 0;
    margin-top: 20px;
    color: #FFF;
    /*font-family: 'CorbelRegular', CorbelRegular;*/
    font-family: sans-serif,Arial, Verdana;
    font-size: 12px;
}

.footer-border-line
{
    border-top: solid 1px #1E1E1E;
}

.footer-header-line
{
    background: url(../images/footer-cols.png) repeat-x 0 0;
}

.footer span
{
    /*font-family: Calibri;*/
    font-family: sans-serif,Arial, Verdana;
    text-transform: uppercase;
    line-height: 30px;
}

.footer p
{
    /*font-family: Calibri;*/
    font-family: sans-serif,Arial, Verdana;
    font-size: 11px;
    color: #BEBEBE;
    line-height: 10px;
}

.footer-copyright
{
    font-family: 'CalibriRegular', 'CorbelRegular', Calibri;    
    color: #FFF;
    text-align: center;
    border-top: solid 1px black; /*#1E1E1E;*/
    line-height: 25px;
    font-size: 12px;
    margin-top: 5px;
    text-transform:uppercase;    
}

.footer p a
{
    color: #66AE1D;
}

.footer-link p a
{
    color: #BEBEBE;
    text-transform: uppercase;
}

ul.social_icons
{
    margin: 0px;
    padding: 0px;
}

    ul.social_icons li
    {
        list-style: none;
        display: inline;
        padding-right: 7px;
    }

/*END*/

.body-page-header
{
    font-weight: bold;
    color: #000;
    /*font-family: 'CorbelRegular', CorbelRegular;*/
    font-family: sans-serif,Arial, Verdana;
    text-align: justify;
    font-size: 13px;
    padding: 10px 0;
}

.body-page-header-bg
{
    background-color: #F1F4EB;
    padding: 5px;
}

/*PAGE TEXT*/
/*START*/
.devzone
{
    font-weight: bold;
    color: #000;
    /*font-family: 'CorbelRegular', CorbelRegular;*/
    font-family: sans-serif,Arial, Verdana;
    text-align: justify;
    font-size: 15px;
    padding: 10px 0;
    line-height: 40px;
}

.product-service
{
    font-weight: bold;
    color: #000;
    /*font-family: 'CorbelRegular', CorbelRegular;*/
    font-family: sans-serif,Arial, Verdana;
    text-align: justify;
    font-size: 15px;
    padding: 10px 0;
    line-height: 40px;
}

.mgmt-designation
{
    font-weight: bold;
    color: #000;
    /*font-family: 'CorbelRegular', CorbelRegular;*/
    font-family: sans-serif,Arial, Verdana;
    text-align: justify;
    font-size: 15px;
    padding: 10px 0;
    line-height: 40px;    
}

.contatcus
{
    font-weight: bold;
    color: #000;
    /*font-family: 'CorbelRegular', CorbelRegular;*/
    font-family: sans-serif,Arial, Verdana;
    text-align: justify;
    font-size: 15px;
    padding: 10px 0;
    line-height: 40px;
}

/*END*/
