#savory_order_summary .itemname input[type="text"]
{
    height: 2em;
    width: 22em !important;
    border:0 !important;
}

#savory_order_summary .itemqty input[type="text"]
{
    height: 2em;
    width: 5em !important;
    border:0 !important;
    text-align :center;
}
