table
{
    border-collapse: collapse;
    border-spacing: 0px;
    max-width: 100%;
    width: 100%;
}

.datepicker table
{
    width: auto;
}

.table th
{
    color: #8F8F8F;
    font-size: 78%;
    font-weight: normal;
}

.table-condensed th, .table-condensed td
{
    padding: 1px 1px;
}

.table thead th
{
    vertical-align: bottom;
}

.table td.first
{
    color: #8F8F8F;
    font-size: 78%;
    font-weight: normal;
    text-align: left;
    padding-left: 5px;
}

.table thead:first-child tr:first-child td
{
    border-top: 0 none;
}

.table th.notfirst
{
    text-align: right;
}

.table td.notfirst
{
    color: #8F8F8F;
    font-size: 78%;
    font-weight: normal;
    text-align: right;
    padding-left: 5px;
}

div.notfirst
{
    color: #8F8F8F;
    font-size: 10px;
    font-weight: bold;
    vertical-align: text-bottom;
    margin-top: 10px;
    letter-spacing: 1px;
}

.tblClass
{
    border-top: 3px solid #777777;
    padding: 0;
}

.divFooter
{
    background: none repeat scroll 0 0 #000000;
    color: #F9F9F9;
    display: block;
    vertical-align: bottom;
}

.footerVCMDark
{
    background: url("../images/banner-old-new.png") no-repeat scroll center center transparent;
    height: 120px;
}

.footerLogoDark
{
    background: url("../images/VCM-48-Gray.png") no-repeat scroll center center transparent;
    height: 56px;
}


.container:before, .container:after
{
    content: "";
    display: table;
    line-height: 0;
}

.container:after
{
    clear: both;
}

/*
.container
{
    width: 1170px;
}
*/

.divFooter .span4
{
    color: #3B4044;
    text-align: center;
}

.divFooter h2
{
    font-size: 30px;
}

.socialWrap
{
    background: url("../images/bottomBorderFade.png") bottom no-repeat;
    padding-bottom: 40px;
}

.vyaparIcon
{
    background: url("../images/VCM-24.png") no-repeat scroll center center transparent;
    height: 128px;
}

.examplePage
{
    
    padding-bottom: 50px;
    padding-top: 6px;
    vertical-align: top;
}


.divHeader
{
    background-color: #000000;
    text-align: left;
}


    .divHeader .container
    {
        margin-left: 0px;
        margin-right: 0px;
    }
/*
.nav-collapse.collapse
{
    height: auto !important;
    overflow: visible !important;
}
.nav-collapse.collapse
{
    height: auto;
}
.collapse
{
    -moz-transition: height 0.35s ease 0s;
    height: 0;
    overflow: hidden;
    position: relative;
}

.navbar .nav.pull-right
{
    float: right;
    margin-right: 0;
}

.navbar .nav > li > a
{
    color: #F9F9F9;
    float: none;
    font-size: 14px;
    padding: 6.5px 10px;
    text-decoration: none;
    text-shadow: 0 0 0 #000000;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover
{
    color: #F9F9F9;
    float: none;
    font-size: 14px;
    padding: 6.5px 10px;
    text-decoration: none;
    
}

.nav > li > a
{
    display: block;
}

.navbar .nav > li
{
    float: left;
}

.navbar .divider-vertical
{
    border-left: 1px solid #A5A5A5;
    border-right: 1px solid #A5A5A5;
    height: 10px;
    margin: 13px 0 0;
}

li
{
    line-height: 20px;
}

.navbar-text
{
    color: #737373;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 75px;
    margin-bottom: 0;
}*/

.shareButtonPosition
{
    float: left;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 0px;
}

.productNameHdr
{
    color: #737373;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 35px;
    margin-bottom: 0;
}


.smallDivider
{
    background: url("../images/smallShadowDivider.png") no-repeat scroll center bottom transparent;
    color: #6C6C6C;
    padding: 0 0 40px;
}

.table TD
{
    text-align: right;
}

.divFooter .container:after
{
    clear: both;
}

.divFooter .container:before, .container:after
{
    content: "";
    display: table;
    line-height: 0;
}

.divFooter .container
{
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 0px;
    vertical-align: bottom;
}

.divFooter a
{
    color: #BFC7CE;
    text-decoration: none;
}

.divFooter h5
{
    font-size: 12px;
    line-height: 10px;
}

.pull-left
{
    float: left;
}

.divFooter .diskIcon
{
    background: url("../images/VCM-48-Gray.png") no-repeat scroll center center transparent;
    padding: 50px 75px;
}

.divFooter .span6
{
    width: 570px;
}

.divFooter .pull-right
{
    float: none;
}


.divFooter .span12
{
    color: #F9F9F9;
    text-align: center;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 11px;
    vertical-align: bottom;
}

.tblCMEFutureSpecial select
{
    width: 70%;
    text-align: left;
    font-size: 95%;
    min-width: 80px;
    max-width: 80px;
}

.tblCMEFutureSpecial input[type="text"]
{
    width: 100%;
    border: 0px;
    box-shadow: 0 0 0px;
    font-size: 100%;
    padding: 5px 0px;
    min-width: 65px;
    max-width: 65px;
}

#vcm_calc_cmefuture .span5
{
    min-width: 350px;
}

.nav-pills-custom > .active > a, .nav-pills-custom > .active > a:hover
{
    color: #ffffff;
    background-color: #0088cc;
}

.nav-pills-custom > li > a
{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

select
{
    text-align: left;
    font-size: 88%;
    height: 2em;
    width: 6.99em;
}

td
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

tr
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

input[type="text"]
{
    font-size: 88%;
    width: 6.99em;
    height: 2em;
    padding-top: 2px;
}


#modalPriceWidget input[type="button"]
{
    font-size: 100%;
    width: 3.75em;
    height: 1.75em;
    padding-top: 2px;
}

#modalPriceWidget input[type="text"]
{
    font-size: 11px;
    width: 8.15em;
    height: 1.55em;
    padding-top: 2px;
}

#modalPriceWidget select
{
    text-align: left;
    font-size: 12px;
    height: auto;
    width: 103px;
}

#modalPriceWidget .WidgetHeader
{
    color: #8F8F8F;
    font-size: 88%;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}

#modalPriceWidget td
{
    font-size: 100%;
}

#divTermWidget input[type="button"]
{
    font-size: 100%;
    width: 4.75em;
    height: 1.75em;
    padding-top: 2px;
}

#divTermWidget input[type="text"]
{
    font-size: 11px;
    width: 8.15em;
    height: 1.55em;
    padding-top: 2px;
}

#divTermWidget select
{
    text-align: left;
    font-size: 12px;
    height: auto;
    width: 103px;
}

#divTermWidget .WidgetHeader
{
    color: #8F8F8F;
    font-size: 88%;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}

#divTermWidget td
{
    font-size: 100%;
}

#divTermBasisWidget input[type="button"]
{
    font-size: 100%;
    width: 4.75em;
    height: 1.75em;
    padding-top: 2px;
}

#divTermBasisWidget input[type="text"]
{
    font-size: 11px;
    width: 8.15em;
    height: 1.55em;
    padding-top: 2px;
}

#divTermBasisWidget select
{
    text-align: left;
    font-size: 12px;
    height: auto;
    width: 103px;
}

#divTermBasisWidget .WidgetHeader
{
    color: #8F8F8F;
    font-size: 88%;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}

#divTermBasisWidget td
{
    font-size: 100%;
}




ul
{
    padding: 0px;
}

#vcm_calc_bondYield select
{
    width: 150px;
    text-align: left;
}

#vcm_calc_bondYield input[type="text"]
{
    width: 150px;
}



/*
#vcm_calc_swaptionVolPremStrike select
{
    width: 6em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_swaptionVolPremStrike input[type="text"]
{
    font-size: 85%;
    width: 5em;
    height: 20px;
    border: 0px;
    box-shadow: 0 0 0px;
}

#vcm_calc_CapFloorVols select
{
    width: 5em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_CapFloorVols input[type="text"]
{
    font-size: 95%;
    width: 4em;
}
#vcm_calc_CMCapFloor select
{
    width: 5em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_CMCapFloor input[type="text"]
{
    font-size: 95%;
    width: 4.5em;
}

#vcm_calc_cmeotcpage select
{
    width: 80px;
    text-align: left;
    font-size: 90%;
}

#vcm_calc_cmeotcpage input[type="text"]
{
    width: 65px;
    border: 0px;
    box-shadow: 0 0 0px;
    font-size: 95%;
    padding: 5px 0px;
}

#vcm_calc_CPINSA select
{
    width: 6em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_CPINSA input[type="text"]
{
    width: 85px;
}

#vcm_calc_European_Swaption select
{
    width: 6em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_European_Swaption input[type="text"]
{
    font-size: 95%;
    width: 5em;
}


#vcm_calc_iimswappagemid select
{
    width: 5em;
    text-align: left;
}

#vcm_calc_iimswappagemid input[type="text"]
{
    width: 4.5em;
}

#vcm_calc_IMM_Swap_Short select
{
    width: 100px;
    text-align: left;
}

#vcm_calc_IMM_Swap_Short input[type="text"]
{
    width: 90px;
}

#vcm_calc_irsfuture select
{
    width: 80px;
    text-align: left;
    font-size: 90%;
}

#vcm_calc_irsfuture input[type="text"]
{
    width: 65px;
    border: 0px;
    box-shadow: 0 0 0px;
    font-size: 95%;
}

#vcm_calc_ISDAFix select
{
    width: 6em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_ISDAFix input[type="text"]
{
    font-size: 95%;
    width: 4.5em;
}

#vcm_calc_MedTermSwapPage select
{
    width: 5em;
    text-align: left;
    font-size: 98%;
}

#vcm_calc_MedTermSwapPage input[type="text"]
{
    font-size: 95%;
    width: 4em;
}

#vcm_calc_MidTermSwapPageMid select
{
    width: 6em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_MidTermSwapPageMid input[type="text"]
{
    font-size: 95%;
    width: 4.5em;
}

#vcm_calc_Pers_Med_Term_Swap_Mid select
{
    width: 6em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_Pers_Med_Term_Swap_Mid input[type="text"]
{
    font-size: 95%;
    width: 4em;
}

#vcm_calc_ShortTermSwapPage select
{
    width: 6em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_ShortTermSwapPage input[type="text"]
{
    font-size: 95%;
    width: 4.5em;
}

#vcm_calc_SimpleSwapCalculator select
{
    width: 6em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_SimpleSwapCalculator input[type="text"]
{
    font-size: 95%;
    width: 4.5em;
}
#vcm_calc_SwapBondCalculator select
{
    width: 5.5em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_SwapBondCalculator input[type="text"]
{
    font-size: 95%;
    width: 4.5em;
}
#vcm_calc_SwapDiffCalculator select
{
    width: 6em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_SwapDiffCalculator input[type="text"]
{
    font-size: 95%;
    width: 5em;
}
#vcm_calc_SwapSwitch select
{
    width: 6em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_SwapSwitch input[type="text"]
{
    font-size: 95%;
    width: 5em;
}

*/

/*
input[readonly="readonly"]
{
    border: 0px;
    box-shadow: 0 0 0px;
}
*/

tdrightbrd
{
    border-left: 0px solid #777777;
}

.tdleftbrd
{
    border-right: 0px solid #777777;
}

.tdtopbrd
{
    border-top: 0px solid #777777;
}


.tdbtmbrd
{
    border-bottom: 0px solid #777777;
}

.tdbkcolor
{
    background-color: #EFEFFB;
}

.tdbkcolor1
{
    background-color: #F2EFFB;
}

.tdbkcolor2
{
    background-color: #EFEFFB;
}

.tdbkcolor3
{
    background-color: #EFEFFB;
}

.tdrtbrd
{
    border-left: 0pt solid #3a87ad;
}

.tdlfbrd
{
    border-right: 0pt solid #3a87ad;
}

.tdbmbrd
{
    border-bottom: 0pt solid #3a87ad;
}

.table td.middle
{
    color: #8F8F8F;
    font-size: 78%;
    font-weight: normal;
    text-align: center;
}

.table td.rigth
{
    color: #8F8F8F;
    font-size: 78%;
    font-weight: normal;
    text-align: right; /*padding-left: 5px;*/
}

.table td.left
{
    color: #8F8F8F;
    font-size: 78%;
    font-weight: normal;
    text-align: left; /*padding-left: 5px;*/
}

/* Email List text area */
#dvMultiEmails
{
    border: 1px ridge #EEE9E9;
    background-color: #FFF;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    height: 70px;
}

    #dvMultiEmails ul
    {
        list-style-type: none;
        margin: 0px auto;
        padding: 0px;
        float: left;
    }

        #dvMultiEmails ul li
        {
            float: left;
        }

.email
{
    background-color: #F2F2F2;
    color: #000;
    border: 1px solid #C7C7C7;
    font-family: Calibri;
    font-size: 14px;
    font-weight: normal;
    margin: 3px;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding: 1px 2px;
}

    .email:hover
    {
        background-color: #EBEBEB;
        color: #000;
        cursor: pointer;
    }

.email-item
{
    float: left;
    text-align: center;
    vertical-align: middle;
    margin: 0px 1px;
}

.email-item-invalid
{
    float: left;
    text-align: center;
    vertical-align: middle;
    margin: 0px 1px;
    color: #FF6A6A;
}

.email-delete
{
    float: left;
    text-align: center;
    vertical-align: top;
    margin: 0px 1px;
    color: #666666;
    padding: 0px 3px;
    font-weight: normal;
}

    .email-delete:hover
    {
        color: #000000; /*background-color:#FFF;*/
        font-weight: bold;
    }

#dvMultiEmails input, #dvMultiEmailsMsg input, .email-input-box, .email-edit-box
{
    text-align: left;
    border: none;
    background-color: transparent;
    width: 95%;
    height: 20px !important;
    margin: 3px;
    float: left;
    vertical-align: middle;
    padding: 1px 2px;
}

.email-input-box
{
    border: 1px solid Gray; /*width: inherit !important;*/
}

#dvShareTime
{
    float: left;
    background-color: transparent;
    font-family: Calibri;
    margin: 3px;
}

    #dvShareTime input
    {
        width: 10%;
        line-height: 20;
    }

    #dvShareTime select
    {
        width: 40%;
        line-height: 20;
        padding: 3px;
    }
/* Email List text area */
#vcm_calc_Tube_State_Presentation textarea
{
    min-height: 25px;
    width: 100%;
    height: auto;
    font-size: 12px;
}

#vcm_calc_Tube_State_Presentation td.status input
{
    width: 90%;
    font-size: 12px;
    text-align: left;
}

#vcm_calc_Tube_State_Presentation td.first input
{
    width: 90%;
    font-size: 12px;
    text-align: left;
    height: 30px;
    margin: 0px;
}

#vcm_calc_Tube_State_Presentation td.first
{
    padding: 0px;
    margin: 0px;
}

#vcm_calc_Tube_State_Presentation td.left input
{
    width: 90%;
    font-size: 12px;
    text-align: left;
    height: 25px;
}


#mainProductSection .col-md-1
{
    min-width: 64px;
    padding-top: 13px;
}

#mainProductSection .col-md-2
{
    min-width: 210px;
    padding-top: 13px;
}

#mainProductSection .col-md-3
{
    min-width: 340px;
    padding-top: 13px;
}

#mainProductSection .col-md-4
{
    min-width: 470px;
    padding-top: 13px;
}

#mainProductSection .col-md-5
{
    min-width: 490px;
    padding-top: 13px;
}

#mainProductSection .col-md-6
{
    min-width: 730px;
    padding-top: 13px;
}

#mainProductSection .col-md-7
{
    min-width: 860px;
    padding-top: 13px;
}

#mainProductSection .col-md-8
{
    min-width: 990px;
    padding-top: 13px;
}

#mainProductSection .col-md-9
{
    min-width: 1000px;
    padding-top: 13px;
}

#mainProductSection .col-md-10
{
    min-width: 1100px;
    padding-top: 13px;
}

#mainProductSection .col-md-11
{
    min-width: 1200px;
    padding-top: 13px;
}

#vcm_calc_swaptionVolPremStrike h4
{
    margin: 0px;
}

#vcm_calc_ESPN_Sports_Scores td.left input
{
    font-size: 11px;
    text-align: left;
}

#vcm_calc_ESPN_Sports_Scores td.midleft input
{
    font-size: 11px;
    text-align: left;
    height: 39px;
    line-height: 39px;
}

#vcm_calc_ESPN_Sports_Scores td.midcenter input
{
    font-size: 11px;
    text-align: center;
    height: 39px;
    line-height: 39px;
}

.tdrihbrd
{
    border-left: 1pt solid gray;
}

.tdlefbrd
{
    border-right: 1pt solid gray;
}

.tdbtmbrd
{
    border-bottom: 1pt solid gray;
}

.table td.mdl
{
    color: #8F8F8F;
    font-size: 100%;
    font-weight: normal; /*text-align: center;   */
    vertical-align: middle; /* color: #8F8F8F;     font-size: 78%;     font-weight: normal;     text-align: right;     padding-left: 5px;*/
}

.table td.lblbld
{
    color: #8F8F8F;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
}


#vcm_calc_CMEDSF_vs_EuroDollar_Future_Hedge input[type="text"]
{
    font-size: 95%;
    width: 4.9em !important;
}

#vcm_calc_CMEDSF_vs_EuroDollar_Future_Hedge select
{
    width: 6em;
    text-align: left;
    font-size: 95%;
}

#vcm_calc_transactional_currenexdetailview .currnexTimeInput input[type="text"]
{
    font-size: 90%;
    width: 11.3em !important;
    height: 1.2em;
    padding-top: 3px;
}

#vcm_calc_kcg_bondpoint_DepthOfBook input[type="text"],
#vcm_calc_bondsdotcom_DepthOfBook input[type="text"]
{
    font-size: 90%;
    width: 4.5em !important;
    height: 1.2em;
    padding-top: 3px;
}

.ManualChange
{
    border: 1px solid #996515 !important;
}

.hLinks
{
    font-family: "CalibriRegular", CalibriRegular, Calibri, Arial, sans-serif;
    color: #FFF; /*padding: 10px 10px 5px 10px;*/
    padding: 5px 5px 5px 5px;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    cursor: pointer;
}

    .hLinks:hover
    {
        color: #75A537;
        text-decoration: none;
        background-color: transparent;
    }

.hLnkActive
{
    color: #75A537;
    background-color: transparent;
}

.hLinks a
{
    text-decoration: none;
    color: inherit;
}

#vcm_calc_SwapEx_Instrument_List #tblSymbolSfx input[type="text"]
{
    width: 80%;
    text-align: left !important;
}

#vcm_calc_SwapEx_Instrument_List #tblsecurity td
{
    color: #8F8F8F;
    font-size: 78%;
    font-weight: normal;
    text-align: left !important;
    padding-left: 3px !important;
}

#vcm_calc_SwapEx_Instrument_List #tblfixed td
{
    color: #8F8F8F;
    font-weight: normal;
    font-size: 103%;
    text-align: left !important;
    padding-left: 3px !important;
}

#vcm_calc_SwapEx_Instrument_List #tblfloat td
{
    color: #8F8F8F;
    font-weight: normal;
    font-size: 112%;
    text-align: left !important;
    padding-left: 3px !important;
    height: 20px;
}

#vcm_calc_SwapEx_Instrument_List #tblsecurity input[type="text"]
{
    padding: 0px !important;
    width: 95%;
    height: 23px;
}


#vcm_calc_numerix_cds input[type="button"]
{
    height: 100% !important;
}

#vcm_calc_numerix_cds_tbl3 input[type="text"]
{
    width: 11em !important;
}

#vcm_calc_ExchangeDataMarketView input[type="text"]
{
    width: 60px;
    text-align: center;
}

#vcm_calc_ExchangeDataMarketView input[type="button"].inputDisable
{
    background-color: Silver!important;
}

#vcm_calc_SwapPX_295 input[type="text"]
{
    width: 80%;
}

#vcm_calc_SwapPX_295_2,
#vcm_calc_SwapPX_295_3
{
    width: 8%!important;
}

.vcm_calc_SwapPX_262 input[type="text"]:not(.inputDisable)
{
    border-color: #A0A0F0;
    color: #3232FF!important;
}

.vcm_calc_SwapPX_262 input[type="text"].blackborder
{
    border-color: #000000!important;
    color: #000000!important;
    font-weight: bold;
}

.vcm_calc_usd_libor_vs_libor_basis_swaps input[type="text"]:not(.inputDisable)
{
    border-color: #A0A0F0;
    color: #3232FF!important;
}

.vcm_calc_usd_libor_vs_libor_basis_swaps input[type="text"].blackborder
{
    border-color: #000000!important;
    color: #000000!important;
    font-weight: bold;
}

.vcm_calc_SimpleSwapCalculator input[type="text"]:not(.inputDisable)
{
    border-color: #A0A0F0;
    color: #3232FF!important;
}

.vcm_calc_SimpleSwapCalculator input[type="text"].blackborder
{
    border-color: #000000!important;
    color: #000000!important;
    font-weight: bold;
}
/*#vcm_calc_SwapEx_Instrument_List input[type="button"].inputDisable
{
    background-color:Silver!important;
    }*/

.UserLabelHover
{
    display: none;
}
/*.popupDiv
{
    top: inherit;
   
    display:none;
     position:absolute;
}*/
/*.popupDiv*/

.UserNameIconHover
{
    cursor: pointer;      
    font-weight: 300;   
    color: #231F1F; 
}

.UserNameIconHover:hover
{
    color: Red;
    display:block;
}

   
.chgpwd
{
    line-height: 12px !important;
    Width: 200px;
    /*Height:13px;*/
    text-align: left !important;
}

.llblNewPwd
{
    color: #FF3300;
}

#dvEmailListPopup .modal-dialog
{
    width: 345px;
}

#tblBasis .modal-dialog
{
    width:390px;
    height:180px;
}