<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppStoreConnectionString" connectionString="Data Source=beasttestnu3;Initial Catalog=AppStore;Integrated Security=false; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
    <add name="AppStoreConnectionStringdemo" connectionString="Data Source=beastdemo1;Initial Catalog=AppStore;Integrated Security=false; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>