@charset "utf-8";
/* CSS Document */
body
{
 	margin:0px;
	padding:0px;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	background:url(images/body-bg.jpg);
	background-repeat:repeat-x;
	background-color:#fff; 
	background-position:left top;
	height:563px;
}



.bottoms
{
	
	background: url(../images/btm-left.jpg) no-repeat 0 0, 
				url(../images/btm-right.jpg) no-repeat 100% 0, 
				url(../images/btm-main.jpg) repeat-x 0 0, ;
	height:5px;
}


.top
{
	
	background: url(../images/top-left.jpg) no-repeat 0 0, 
				url(../images/top-right.jpg) no-repeat 100% 0, 
				url(../images/top-main.jpg) repeat-x 0 0, ;
	height:10px;
}




.whitebg
{
	background-color: #FFF;
}
.graybg
{
	background-color:#CCC;
}
.menumar
{
	padding-left:10px;
	padding-right:10px;
}
/* LOGI IN PAGE CSS */
.headborder
{
	border-top:2px solid #12488B;
	border-bottom:2px solid #12488B;
	padding-left:10px;
	padding-right:10px;
	position:absolute middle;
}

.btmbg
{
	background:url(../images/btmbg.jpg);
	background-repeat:repeat-x;
	height:70px;
	border-top:1px solid #12488B;
}
.copyrighttxt
{
		font-size:12px;
		font-family:Arial, Helvetica, sans-serif;
		color: #333;
		font-weight:bold;
}
.login-mid
{
	background:url('../images/login-bg.jpg') no-repeat left top;
	height:219px;
	width:623px;
}
.login-mid-mid
{
		background-color:#FFF;
		border:1px solid #999;		
}
.brd
{
		border-bottom:1px solid #999;
		font-family: Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
		color:#04369c;
		padding-left:10px;
		padding-right:10px;
}
.loginid
{
		font-family: Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
		color:#0F3A6F;
		padding-left:10px;
		padding-right:10px;
}
.locabor
{
	border-bottom:1px solid #6d6d6d;
	background-color:#EBEBEB;
}
/* SWAP PAGE CSS*/
.topmrg
{
	margin-top:5px;
	width:92%;
}
.leftmaintp-1
{
		background:url(../images/tab1.jpg);
		background-repeat:no-repeat;
		background-position:left top;
		width:80px;
		height:32px;
}
.leftmaintp-bg
{
	background:url(../images/tabbg.jpg);
	background-repeat:repeat-x;
	background-position:left top;
	height:32px;
	margin:0px;
	padding:0px;
}
.rightmaintp
{
		background:url(../images/right-top-bg.jpg);
		background-repeat:no-repeat;
		background-position:left top;
		width:445px;
		height:10px;
}
.rightmainbtm
{
		background:url(../images/right-btm-bg.jpg);
		background-repeat:no-repeat;
		background-position:center;
		width:445px;
		height:10px;
}	
.whiteboldfont
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000;
	padding-left:10px;
}	
.loginname
{
		font-family:Verdana, Geneva, sans-serif;
		color:#666;
		font-size:10px;
		font-weight:bold;
		padding-bottom:8px;
		padding-top:5px;
}
.bluename
{
		font-family:Verdana, Geneva, sans-serif;
		color:#0379DA;
		font-size:10px;
		font-weight:bold;
}
.bluebold
{
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#064ba2;
		font-weight:bold;
		text-align:center;
		line-height:20px;
}
.sortby
{	
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000;
	line-height:25px;
	text-decoration:none;
}
.sortby a {font-family:Arial;font-size:11px;font-weight:normal;color:#000;padding-top:10px;padding-bottom:10px;	text-decoration:none;line-height:25px;}
.sortby a:hover {font-family:Arial;font-size:11px;font-weight:normal;color:#000;padding-top:10px;padding-bottom:10px;text-decoration:underline;line-height:25px;}
.sortby a:visited {font-family:Arial;font-size:11px;font-weight:normal;color:#000;padding-top:10px;padding-bottom:10px;text-decoration:none;line-height:25px;}


.setbtmbg2price
{
	background: url(../images/set-btm2price.png);
	background-repeat:no-repeat;
	width:218px;
	height:10px;
}
.settopbg3
{
	background:  url(../images/set-top3.jpg);
	background-repeat:no-repeat;
	width:280px;
	height:10px;
}
.settopbg3-1
{
	background:url(../images/set-top3-1.jpg);
	background-repeat:no-repeat;
	width:280px;
	height:32px;
}
.setbtmbg3
{
	background:  url(../images/set-btm3.png);
	background-repeat:no-repeat;
	width:280px;
	height:10px;
}
.settopbg4
{
	background:  url(../images/set-top4.jpg);
	background-repeat:no-repeat;
	width:175px;
	height:10px;
}
.setbtmbg4
{
	background:  url(../images/set-btm4.png);
	background-repeat:no-repeat;
	width:175px;
	height:10px;
}

.setbtmbg4175
{
	background:  url(../images/set-btm4175.png);
	background-repeat:no-repeat;
	width:175px;
	height:10px;
}

.settcont
{
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	line-height:15px;
	color:#2459AA;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:5px;
}
.settcontetx
{
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	line-height:15px;
	color:#2459AA;
	padding-left:18px;
	padding-right:8px;
	padding-bottom:5px;
}
.settcont1
{
	line-height:15px;
	color:#2459AA;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:5px;
}
.formitm
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	padding-right:5px;
	padding-left:5px;
	padding-top:3px;
	line-height:15px;
	color: #000;
}
.contmatrix
{
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal;
		text-align:left;
		color:#EA7500;
		text-decoration:none;
		padding-right:5px;
		padding-left:5px;
}
.contmatrix a{font-family:Arial, Helvetica, sans-serif; font-size:12px;	font-weight:normal;	text-align:left; color:#EA7500;	text-decoration:none; padding-right:5px;padding-left:5px;}
.contmatrix a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px;	font-weight:normal;	text-align:left; color:#000000;	text-decoration:underline;padding-right:5px;padding-left:5px;}
.contmatrix a:visited{font-family:Arial, Helvetica, sans-serif; font-size:12px;	font-weight:normal;	text-align:left; color:#000000;	text-decoration:underline;padding-right:5px;padding-left:5px;}

.switchmain
{
	padding-top:5px;
	border:1px solid #999;
}
.boxbg
{
	
	height:26px;
	width:94px;
	font-weight:bold;
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666; 
}
.boxbg1
{
	
	height:26px;
	width:143px;
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
.boxbg2
{
	
	height:26px;
	width:97px;
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
.slleg
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
	text-align:center;
	color:#666;
	padding:2px;
}
.btnimg
{
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	text-align:left;
	vertical-align:middle;
	height:18px;
}
.btmmult
{
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	vertical-align:middle;
}
.swidata
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color: #666;
	vertical-align:middle;
	text-align:center;
}
.swidata1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color: #666;
	vertical-align:middle;
	text-align:center;
}
.switchimg
{
		padding-right:5px;
		padding-left:5px;
		padding-top:3px;
		text-align:right;
}

/* PRICING GRID HEADING */

.prihead
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color: #20A45B;
	font-weight:bold;
}
.grid-top-head
{
	background:url(../images/grid-top-head.jpg);
	background-repeat:repeat-x;
	background-position:top left;
	
	height:31px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333;
	text-align:center;
}
.grid-btm-head
{
	background:url(../images/grid-btm-head1.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	width:200px;
	height:31px;
}
.gridcontleft
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color: #000;
	text-align:center;
	border-left:1px solid #c0c0c0;
	line-height:15px;
}
.gridcontrgt
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color: #000;
	text-align:center;
	border-right:1px solid #c0c0c0;
	line-height:15px;
}
.gridcont
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color: #000;
	text-align:center;
	line-height:15px;
}
.buttons
{
	padding-left:10px;
}

/* Session CSS*/
.sessionimg
{
	padding-left:3px;
}
.sessinbor1
{	
	border:1px solid #cacaca;
}
.sessionbg
{
	background:url(../images/sessionbg.jpg);
	background-repeat:repeat-x;
	height:25px;
	border-right: solid 1px #cacaca;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:400;
	text-align:center;
	color:#333;
	vertical-align:middle;
}
.sessionbg1
{
	background:url(../images/sessionbg.jpg);
	background-repeat:repeat-x;
	height:31px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:600;
	text-align:center;
	color: #333;
}
.bluebrdleft
{
	border-left:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
}
.bluebrdrgh
{
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
}
.bluebrdbtm
{
	border-bottom:1px solid #cacaca;
}
.sessiondata
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	text-align:center;
	color:#333;
	padding:2px;
	border-bottom:1px solid #cacaca;
	border-right:1px solid #cacaca;
}
.sessiondata1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	color:#333;
	padding:2px;
	border-bottom:1px solid #cacaca;
}
.imgmar2
{
	padding-top:5px;
	padding-bottom:5px;
}
.activitybor
{	
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;
	border-top:1px solid #cacaca;
}

/* ADDED BY Chandresh Patel */
.common-text
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000;
    text-decoration: none;
}
.popUpOuterLayer
{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.6;
    filter: alpha(opacity=60); /*background-color: #E8E6E1;*/
    z-index: 1000;
    background-color: #FFFFFF;
}
.popUpInnerLayer
{
    position: absolute;
    top: 0px;
    left: 0px;
   
    display: none;
    z-index: 1001;
    border: 1px solid black;
    background-color: White;
    padding: 5px;
}
.BuySellPopupText
{
    font: normal 11px verdana;
    color: #2E2E2E;
    text-align: center;
}
.timerRed
{
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    color: Red;
    text-decoration: none;
}
.timerGreen
{
    background-color: White;
    color: Green;
    font: bold 18px verdana;
}
.remainingTime
{
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    color: #013a81;
    text-decoration: none;
}
.blue-bold
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #013a81;
    text-decoration: none;
}
.Black-normal
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: black;
    text-decoration: none;
}
.gridHeader
{
    background-color: #CFCFCF;
    text-align: center;
    font: normal 10px verdana;
    color: black; /*#FFC080;*/
    height: 22px;
    font-weight: normal;
}
.gridHeader th
{
    font-weight: normal;
}
.gridHeader a:link
{
    font: normal 10px verdana;
    color: Black;
    text-decoration: underline;
}
.gridHeader a:hover
{
    font: normal 10px verdana;
    color: Black;
    text-decoration: none;
}
.gridRow
{
    font: normal 9px verdana; /* color: Red; #005083;*/
    height: 22px;
    vertical-align: top;
    
    text-align: center;
    border: none;
}
.gridRowBold
{
    font: bold 9px verdana; /* color: Red; #005083;*/
    height: 22px;
    vertical-align: middle;
    
    font-weight: bold;
    
}

.gridRowHeight
{
    height: 19px;
}
.gridAlternateRow
{
    font: normal 10px verdana; /* color: Red; #005083;f1f1f1*/
    height: 15px;
    background-color: #E7E7E8;
}
.gridFooter
{
    background-color: #c0c0c0; /*#3c5d8a;*/
    font: normal 10px verdana;
    color: White;
    height: 18px;
}
.gridFooter td
{
    border-style: none;
}
.gridRowTextBox
{
    font: normal 9px verdana; /* color: Red; #005083;*/
    text-align: center;
    border: solid 1px gray;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}
.gridRowButton
{
    font: bold 9px verdana; /* color: Red; #005083;*/
    height: 18px;
    padding: 0px 0px 2px 0px;
    text-align:center;
    vertical-align:middle;
}
.gridBlankRow
{
    background-color: #bfbfbf;
}
.gridBlankCol
{
    background-color: #CFCFCF;
    border-style: none;
}
.cssRowSelect
{
    border: solid 2px #999;
    background: #E4E4E4 !important;
    font: normal 10px verdana;
    height: 19px;
    color: Black;
    vertical-align:text-top;
}
.cssMOver
{
    font: normal 10px verdana;
    background: #E4E4E4 !important;
    color: Black;
    height: 19px;
    cursor: hand;
    border: solid 1px gray;
    vertical-align:text-top;
}
.tabbgwh
{
	background-color:#ffffff;
	margin:0px;
	padding:0px;
}
.prigridgry
{
	font-family:Arial;
	font-size:12px;
	color:#000;
	text-align:left;
	line-height:30px;
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;
}
.allprbutton
{
	background:url(../images/all.png);
	height:19px;
	width:79px;
}
.allprbutton a:hover
{
	background:url(../images/all-over.png);
	height:19px;
	width:79px;
}
.inputdta
{
	text-align:center;
}
/*RATE CSS */
.rate-top1
{
		background:url(../images/ratetop1.jpg);
		background-repeat:no-repeat;
		background-position:center;
		height:26px;
		width:160px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		color:#333;
		text-align:center;
}
.rate-btmbg1
{
		background:url(../images/ratebtm1.jpg);
		background-repeat:no-repeat;
		width:160px;
		height:5px;
}
.raterightmaintp
{
		background:url(../images/ratebtm2.jpg);
		background-repeat:no-repeat;
		background-position:left top;
		width:967px;
		height:10px;
}
.raterightmainbtm
{
		background:url(../images/ratetop2.jpg);
		background-repeat:no-repeat;
		background-position:center;
		width:967px;
		height:10px;
}

.swaplftbtm1
{
		background:url(../images/swep-righbtmmain.jpg);
		background-repeat:no-repeat;
		background-position:center;
		width:330px;
		height:10px;
}

.swaplftntp1
{
		background:url(../images/swep-rightpmain.jpg);
		background-repeat:no-repeat;
		background-position:left top;
		width:330px;
		height:10px;
}

.swapritop
{
 		background:url(../images/swep-rightp.jpg);
		background-repeat:no-repeat;
		background-position:center;
		height:26px;
		width:320px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		color:#333;
		text-align:center;  
}

.swapritop-1
{
 		background:url(../images/swaprttop1.jpg);
		background-repeat:no-repeat;
		background-position:center;
		height:26px;
		width:345px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		color:#333;
		text-align:center;  
}

.swapritbm1-1
{
		background:url(../images/swaprt1.jpg);
		background-repeat:no-repeat;
		width:345px;
		height:5px;
}

.swaprightbtm1
{
		background:url(../images/swap-rightbtm1.jpg);
		background-repeat:no-repeat;
		background-position:left top;
		width:800px;
		height:10px;
}

.swaprightntp1
{
		background:url(../images/swap-righttp1.jpg);
		background-repeat:no-repeat;
		background-position:left top;
		width:800px;
		height:10px;
}


.raterightntp
{
		background:url(../images/ratetop3.jpg);
		background-repeat:no-repeat;
		background-position:left top;
		width:790px;
		height:10px;
}

.raterightbtm
{
		background:url(../images/ratebtm3.jpg);
		background-repeat:no-repeat;
		background-position:center;
		width:790px;
		height:10px;
}



.settopbg4
{
	background:  url(../images/set-top4.jpg);
	background-repeat:no-repeat;
	width:200px;
	height:10px;
}
.grid-top-head
{
	background:url(../images/grid-top-head.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	width:220px;
	height:31px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333;
	text-align:center;
}
.grid-btm-head
{
	background:url(../images/grid-btm-head.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	width:220px;
	height:31px;
}

.sessionbg1
{
	background:url(../images/sessionbg.jpg);
	background-repeat:repeat-x;
	height:25px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:600;
	text-align:center;
	color: #333;
}
.blue-bold
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #013a81;
    text-decoration: none;
}
.gridRow
{
    font: normal 11px verdana; /* color: Red; #005083;*/
    height: 25px;
    vertical-align: middle;
    padding-left:10px;
    
}
.gridRowButton
{
    font: bold 9px verdana; /* color: Red; #005083;*/
    height: 18px;
    padding: 0px 0px 2px 0px;
    text-align:center;
    cursor:hand;
}
.leftmaintp
{
		background:url(../images/left-top-bg.jpg);
		background-repeat:no-repeat;
		background-position:left top;
		margin-left:15px;
		width:610px;
		height:10px;
}
.leftmainbtm
{
		background:url(../images/left-btm-bg.jpg);
		background-repeat:no-repeat;
		background-position:center;
		width:585px;
		height:10px;
}
 
/* Menu */

.staticMenuItemStyle {
text-align:center;
display:block;
padding-left:2px;
padding-right:2px;
margin-left:0;
}

.staticMenuItemSelectedStyle {
border:solid 1px #000;
}

.staticHoverStyle {
background-color:Gray;
}

.menuItem {
display:block;
}

 .dynamicMenuItemStyle {
border:solid 1px #000;
background-color:#1d365e;
font-size:8pt;
font-family:Verdana;
color:White;
z-index:200;
position:relative;
}

.background {
border:solid 1px #000;
background-color:#163563;
}

.NavigationMenu {
font-family:Verdana;
font-size:8pt;
color: #FFF;
font-weight:100;
z-index:101;

}

#h {
background:#CCCFFF;
padding:5px 0 6px 10px;
}

#e {
border:solid 1px #919191;
padding:0 0 1px;
}

.menuItemMouseOver,.menuItemSelected {
border:solid 1px white;
}

.NavigationMenu A:link,.NavigationMenu A:visited,.NavigationMenu A:active {
text-decoration:none;
color:#FFF;
display:block;
}

.currentNodeStyle,.nodeStyle,.rootNodeStyle,a.siteMapPath {
text-decoration:none;
font-family:Verdana;
font-size:10pt;
}

/* menu end */
.grid-top-head1
{
	background:url(../images/grid-top-head1.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	width:200px;
	height:31px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333;
	text-align:center;
}
.grid-btm-head1
{
	background:url(../images/grid-btm-head1.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	width:200px;
	height:31px;
}
.grid-top-head2
{
	background:url(../images/grid-top-head2.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	width:180px;
	height:31px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333;
	text-align:center;
}
.grid-btm-head2
{
	background:url(../images/grid-btm-head2.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	width:180px;
	height:31px;
}
 .FatFigurIndication
{
    background: url(../images/sell_flash.gif);
    background-color: White;
    font: normal 9px verdana; /* color: Red; #005083;*/
    text-align: center;
    border: solid 1px gray;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}
/* Quick contact */

.blue-common-text-bold
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #053076;
    text-decoration: none;
}
.common-text-bold
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.dashed-line
{
    border-bottom: 1px dashed #cacbcb;
}
.general-blue-link
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #053076;
    text-decoration: underline;
}
.general-blue-link:hover
{
    text-decoration: none;
}
.quick-contact-bg
{
    background: url('../../images/quick-contact-bg.gif');
    background-repeat: repeat-x;
    background-position: top;
}
.grey-border
{
    background: #ffffff;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #cbcbcb;
    border-bottom-color: #cbcbcb;
    border-left-color: #cbcbcb;
}
.orange-bold-link
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #d97100;
    text-decoration: underline;
}
.orange-bold-link:hover
{
    text-decoration: none;
}

/*end  Quick contact */

.blue-header-bg-middle
{
    background: url(../images/blue-header-bg-middle.gif);
    background-repeat: repeat-x;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}
.login-button
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    background: url(../images/gery-btn.gif);
    background-repeat: repeat-x;
    background-position: center center;
    border: 1px solid #FFF;
    
    padding: 2px 5px 2px 5px;
}
.login-button:hover
{
    color: #FFF;
    background: url(../images/gery-btn-hover.gif);
}
.errorMessage
{
    font: bold 10px verdana;
    color: Red;
}
.Trd_Lst_Frame
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 280px;
    display: none;
    z-index: 1001;
    background-color: Gray;
}
.Trd_Lst
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background: url('../images/Trd_List.gif');
    vertical-align: top;
    color: White;
    text-align: center;
    font-weight: bold;
    font-size: 9pt;
    width: 95px;
    height: 21px;
}

.tdLbl
{
    font: normal 12px Verdana;
    color: black;
    text-align: left;
    height:20px;
}
.rate-top1-1
{
		background:url(../images/ratetop1-1.jpg);
		background-repeat:no-repeat;
		background-position:center;
		height:26px;
		width:1800px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		color:#333;
		text-align:center;
}
.rate-btmbg1-1
{
		background:url(../images/ratebtm1-1.jpg);
		background-repeat:no-repeat;
		width:180px;
		height:5px;
}

.settopbg4-1
{
	background:  url(../images/set-top4-1.jpg);
	background-repeat:no-repeat;
	width:200px;
	height:10px;
}
.setbtmbg4-1
{
	background:  url(../images/set-btm4-1.png);
	background-repeat:no-repeat;
	width:200px;
	height:10px;
}
.PrecurvepopupLayer
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 450px;
    height: 130px;
    display: none;
    z-index: 100;
}

/* for session details */

.xb1
{
    
    overflow: hidden;
}
.xb1
{
    height: 1px;
}
.xb1
{
    margin: 0 5px;
    background: #dcdcdc;
}
.xb2
{
    
    overflow: hidden;
}
.xb2
{
    height: 1px;
}
.xb2
{
    background: #f5f5f5;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}
.xb2
{
    margin: 0 3px;
    border-width: 0 2px;
}
.xb3
{
    
    overflow: hidden;
}
.xb3
{
    height: 1px;
}
.xb3
{
    background: #f5f5f5;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}
.xb3
{
    margin: 0 2px;
}
.xb4
{
    
    overflow: hidden;
}
.xb4
{
    background: #f5f5f5;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}
.xb4
{
    height: 2px;
    margin: 0 1px;
}
.xbottom
{
    
    background: transparent;
    font-size: 1px;
}
.xboxcontent
{
    
    background: #f5f5f5;
    border: 0 solid #dcdcdc;
    border-width: 0 1px;
    vertical-align: middle;
}
.xtop
{
    
    background: transparent;
    font-size: 1px;
}
#xsnazzy
{
    background: transparent;
    margin: 0px;
}

.AutoUrl_Table
{
    border:1px solid #E0E0E0;
    border-collapse:collapse;
    margin:0px 0px 5px 0px;
}

.AutoUrl_Table td
{
    border:1px solid #E0E0E0;
    padding:0px 3px 0px 3px;
}

.AutoUrl_Table select, .AutoUrl_Table input[type=text]
{
    margin:4px 0px 4px 4px !important;
    height:25px !important;
    line-height:25px !important;
}

.AutoUrl_CompanyTitle
{
    font-family:'Segoe UI', Calibri, Verdana;
    font-weight:bold;
    font-size:18px;
    color:Navy;   
    height:100%;
    width:100%;
    text-align:right;
    padding-top:20px;
    padding-right:25px;
}

.AutoUrl_TableTitle
{
    font-family:Calibri, Verdana;
    font-weight:bold;
    font-size:14px;
    color:#FFF;   
    height:23px;
    width:100%;
    text-align:left;       
    margin-top:5px;
    padding-top:3px !important;
    padding-bottom:3px !important;
    border-bottom: 3px solid Navy;
    background-color:#3B3B3B;
}