@charset "utf-8";
/* CSS Document */
body
{
 	margin:0px;
	padding:0px;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	background:#f1f1f1 url('../bootstrap/css/img/body-bg.jpg') repeat-x left top;
	height:563px;
}


.headerbg 
{
	
	background: url(../img/head-lefbg.jpg) no-repeat 0 0, 
				url(../img/head-rhtbg.jpg) no-repeat 100% 0, 
				url(../img/head-mainbg.jpg) repeat-x 0 0, ;
	
				
	height:26px;
	padding-left:20px;
	padding-right:8px;
	padding-top:3px;
	clear: both;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333;
	text-align:center;
}


.bottoms
{
	
	background: url(../img/btm-left.jpg) no-repeat 0 0, 
				url(../img/btm-right.jpg) no-repeat 100% 0, 
				url(../img/btm-main.jpg) repeat-x 0 0, ;
	height:5px;
}


.top
{
	
	background: url(../img/top-left.jpg) no-repeat 0 0, 
				url(../img/top-right.jpg) no-repeat 100% 0, 
				url(../img/top-main.jpg) repeat-x 0 0, ;
	height:10px;
}


.hideCol
{
    display: none;
}


.whitebg
{
	background-color: #FFF;
}
.graybg
{
	background-color:#CCC;
}
.menumar
{
	padding-left:10px;
	padding-right:10px;
}
/* LOGI IN PAGE CSS */
.headborder
{
	border-top:2px solid #12488B;
	border-bottom:2px solid #12488B;
	padding-left:10px;
	padding-right:10px;
	position:absolute middle;
}
.location
{
	border-bottom:1px solid #6d6d6d;
}
.btmbg
{
	background:url('../bootstrap/img/btmbg.jpg') repeat-x;
	height:70px;
	border-top:1px solid #12488B;
}
.copyrighttxt
{
		font-size:12px;
		font-family:Arial, Helvetica, sans-serif;
		color: #333;
		font-weight:bold;
}
.login-mid
{
    background: url('../bootstrap/img/login-bg.jpg') no-repeat left top;
    height: 219px;
    width: 549px;
}
.login-mid-mid
{
		background-color:#FFF;
		border:1px solid #999;		
}
.brd
{
		border-bottom:1px solid #999;
		font-family: Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
		color:#04369c;
		padding-left:10px;
		padding-right:10px;
}
.loginid
{
		font-family: Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
		color:#0F3A6F;
		padding-left:10px;
		padding-right:10px;
}
.locabor
{
	border-bottom:1px solid #6d6d6d;
	background-color:#EBEBEB;
}
.navbar .brand
{
    padding-bottom: 10px;
    margin-top: 15px;
    text-indent: -9000px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    background: url('../bootstrap/img/Logo.jpg');
    float: left;
    color: #777777;
    font-size: 20px;
    font-weight: 200;
    padding-top: 30px;
    text-shadow: 0 1px 0 #ffffff;
}
.navbar .tagline-divider {
	BORDER-LEFT: #b2bbc3 1px solid; MARGIN: 20px 20px 0px; FLOAT: left; HEIGHT: 30px
}

.login-text {
	LINE-HEIGHT: 40px; MARGIN-BOTTOM: 0px; LETTER-SPACING: 1px; COLOR: #737373; FONT-SIZE: 13px
}