/**
 * All selectors must have .YOUR_APP_ID as a prefix. 
 */
 .vcm_calc_geoTrack table {
	margin:0;
}
.vcm_calc_geoTrack tbody td {
	text-align: right;
}
.vcm_calc_geoTrack .last {
}
.vcm_calc_geoTrack .last-change {
	font-size:80%;
}
.vcm_calc_geoTrack .positive {
	color: green;
}
.vcm_calc_geoTrack .negative {
	color: red;
}

.vcm_calc_geoTrack .input-append {
	padding-bottom:7px;
	padding-top:7px;
}

.vcm_calc_geoTrack p.hi {
	font-weight: bold;
	font-size: 20px;
}

