<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <remove name="SessionServerConnectionString" />
    <remove name="AppStoreConnectionString" />
    <add name="SessionServerConnectionString" connectionString="Data Source=beastDemo1;Initial Catalog=SessionServer;Integrated Security=false;User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
    <add name="AppStoreConnectionString" connectionString="Data Source=beastDemo1;Initial Catalog=AppStore;Integrated Security=false;User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
    <add name="TradeCaptureConnectionString" connectionString="Data Source=beastDemo1;Initial Catalog=TradeCapture;Integrated Security=false;User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />

    <!--<add name="AppStoreConnectionString" connectionString="Data Source=NUPADHYAY\SQLEXPRESS;Initial Catalog=sdktest;Integrated Security=false;User ID = beastsdk; Password = beastsdk;" providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
  <appSettings>
    <!--<add key="SignalRSetup" value="http://localhost/OpenBeast" />-->
    <!--<add key="SignalRSetup" value="http://nupadhyay/OpenBeast" />-->
    <add key="SignalRSetup" value="http://localhost:4828" />
    <!--<add key="SignalRSetup" value="http://nupadhyay//EsignalCalc" />-->
    <add key="LogTimerFile" value="D:\\RND\\Log\\Log.txt" />
    <add key="UserName" value="Beastclient" />
    <add key="Password" value="Passw0rd" />
    <!--<add key="ServerName" value="172.30.3.99" />
    <add key="ServerName2" value="172.30.4.99" />-->

    <add key="eSignalUserGroupID" value="56" />
    <add key="ServerName" value="beastDemo1" />
    <add key="ServerName2" value="beastDemo2" />
    
    <add key="RetryCount" value="3" />
    <add key="SMTPServer" value="beasttestnu4.vcmpartners.com" />
    <add key="FromEmail" value="vcmweb@thebeastapps.com" />
    <add key="ErrorEmail" value="nupadhyay@thebeastapps.com" />
    <add key="VCMWeb" value="nupadhyay@thebeastapps.com" />
    <add key="EnableEmail" value="0" />
    <add key="SystemRunningOn" value="Amazon" />
    <add key="defaultLandingPage" value="http://localhost:1911/AutoUrlValidate.aspx" />
    <add key="InternalEmail" value="internaluser@thebeastapps.com" />
    <add key="ImportantIds" value="#amittal@thebeastapps.com#vsingh@thebeastapps.com#jsabbagh@thebeastapps.com#spiazza@thebeastapps.com#smittal@thebeastapps.com#jbhatt@thebeastapps.com#" />
    <add key="SignalRBufferSize" value="5000" />
    <add key="Port" value="8200" />
    <!--Amazon-->
    <add key="aws_SMTPServer" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="aws_UserId" value="AKIAI3L6YZS4V6BVF7JQ" />
    <add key="aws_Password" value="AiXvk+i3LTkPxFdkB2iF181DcpYMbco9RWFSPNQGUnjO" />
    <add key="aws_Port" value="587" />
    <add key="SignalRSendRowSize" value="100" />
    <!--Amazon-->
    <!--Log Utility settings - Star-->
    <add key="SessionVariablesXMLPath" value="~/LogSettings/" />
    <add key="log4net.Internal.Debug" value="false" />
    <add key="log4net.Config" value="Web.config" />
    <add key="log4net.Config.Watch" value="True" />

    <!--Log Utility settings - End-->
    <add key="LogoutPath" value="/beastapps1/LogOut.aspx?1" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" timeout="20" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <!--<add verb="POST" path="comet.axd" validate="false" type="AspComet.CometHttpHandler, AspComet" />-->
    </httpHandlers>
    <httpModules>
      <add name="JsonHttpModule" type=" JsonHttpModule, OpenBeast" />
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <log4net>
    <!-- Define some output appenders -->
    <!--Log4Net Start-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\logs" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10240" />
      <maximumFileSize value="10240 KB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="false" />
      <datePattern value="'.'yyyyMMdd'.txt'" />
      <param name="RollingStyle" value="Composite" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %username %exception - %message%newline" />
      </layout>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="192.168.33.136" />
      <remotePort value="5140" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date %-5level %username %exception - %message%newline" />
      </layout>
    </appender>
    <!--Log4Net End-->
    <root>
      <level value="ALL" />
      <appender-ref ref="UdpAppender" />
    </root>
  </log4net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--<modules>-->
      <add name="JsonHttpModule" type=" JsonHttpModule, OpenBeast" />
            <!--<add name="ManagedEngineV4.0_32bit" preCondition="integratedMode,runtimeVersionv4.0,bitness32" />-->
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <!--<httpErrors defaultPath="D:\Inetpub\wwwroot\Redirect\Redirect_OpenF2WebServiceNew.html">
      <remove statusCode="403" subStatusCode="4" />
      <error statusCode="403" subStatusCode="4" prefixLanguageFilePath="" path="D:\Inetpub\wwwroot\Redirect\Redirect_OpenF2WebServiceNew.html" responseMode="File" />
    </httpErrors>-->
    <defaultDocument enabled="true">
      <files>
        <remove value="ZTestPage.htm" />
                <add value="Applist.aspx" />
        <add value="ZTestPage.htm" />
      </files>
    </defaultDocument>
        <directoryBrowse enabled="true" />
        <urlCompression doStaticCompression="false" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".aspx" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <handlers>
            <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
            <remove name="WebServiceHandlerFactory-Integrated" />
        </handlers>
        <!--<directoryBrowse enabled="false" />-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>