<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Savory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <remove name="SessionServerConnectionString"/>
    <remove name="AppStoreConnectionString"/>
    <add name="SessionServerConnectionString" connectionString="Data Source=beasttestnu3;Initial Catalog=SessionServer;Integrated Security=false;User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient"/>
    <add name="AppStoreConnectionString" connectionString="Data Source=beasttestnu3;Initial Catalog=AppStore;Integrated Security=false;User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient"/>
    <add name="TradeCaptureConnectionString" connectionString="Data Source=beasttestnu3;Initial Catalog=TradeCapture;Integrated Security=false;User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SMTPServer" value="beastdev1.vcmpartners.com" />
    <add key="FromEmail" value="jshah@thebeastapps.com" />
    <add key="ErrorEmail" value="jshah@thebeastapps.com" />
    <add key="ToEmail" value="jshah@thebeastapps.com" />
    <add key="ForgotPwd_AskSecurityQuestion" value="0"/>
    <!--Amazon-->
    <add key="aws_SMTPServer" value="email-smtp.us-east-1.amazonaws.com"/>
    <add key="aws_UserId" value="AKIAI3L6YZS4V6BVF7JQ" />
    <add key="aws_Password" value="AiXvk+i3LTkPxFdkB2iF181DcpYMbco9RWFSPNQGUnjO" />
    <add key="aws_Port" value="587" />
    <!--Amazon-->

    <add key="EnableEmail" value="1" />
    <add key="SystemRunningOn" value="Test" />

    <!--Log Utility settings - Star-->
    <add key="SessionVariablesXMLPath" value="~/LogSettings/" />
    <add key="log4net.Internal.Debug" value="false" />
    <add key="log4net.Config" value="Web.config" />
    <add key="log4net.Config.Watch" value="True" />
    <!--Log Utility settings - End-->
    <add key="LogoutPath" value="/LogOut.aspx?1" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState cookieless="false" timeout="1100" />
    <pages validateRequest="false" />
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <!--<httpErrors defaultPath="D:\Inetpub\wwwroot\Redirect\Redirect_BeastApps1.html">
      <remove statusCode="403" subStatusCode="4" />
      <error statusCode="403" subStatusCode="4" path="D:\inetpub\wwwroot\Redirect\Redirect_BeastApps1.html" responseMode="File" />
    </httpErrors>-->
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <Savory.Properties.Settings>
      <setting name="Savory_AutoURLValidateService_openf2" serializeAs="String">
        <value>http://beasttestnu4/urladmin/openf2.asmx</value>
      </setting>
      <setting name="Savory_OpenBeastService_Service" serializeAs="String">
        <value>http://localhost:4828/Services/Service.asmx</value>
      </setting>
    </Savory.Properties.Settings>
  </applicationSettings>
</configuration>