/*The following now works fine!*/
@charset "utf-8";
body
{
	background-color:#FFF;
	margin:0px;
	padding:0px;
	font-family:sans-serif;
	font-size:10pt;
	font-weight:normal;
	color:#000;
	text-align:left;
}

.centertxt
{
	text-align:center;
}

.banner-bg {
	background-image:url(../images/banner-bg.gif);
	background-repeat:repeat-x;
	background-position: top;
}
.banner-img {
	background-image:url(../images/banner-old.jpg);
	background-repeat:no-repeat;
	background-position: top;
}

.banner
{
	background-image:url(../images/banner.jpg);
	background-repeat:no-repeat;
	width:1006px;
	height:151px;
	margin-bottom:5px;
}

.banner1
{
	background-image:url(../images/banner1.jpg);
	background-repeat:no-repeat;
	width:1006px;
	height:151px;
	margin-bottom:5px;
}


.menubg 
{
	
	background: url(../images/leftmenubg.jpg) no-repeat 0 0, 
				url(../images/rightmenubg.jpg) no-repeat 100% 0, 
				url(../images/menubg.jpg) repeat-x 0 0, ;
	height: 25px;
	font-family:Calibri;
	font-size: 12px;
	font-weight:bold;
	color: #666;
	padding-left:20px;
	padding-right:8px;
	padding-top:3px;
	clear: both;
}


.proservice
{
	background-image:url(../images/bullet.jpg);
	background-repeat:no-repeat;
	background-position:0px 5px;
	font-family:sanserif;
	font-size:12px;
	font-weight:bold;
	color:#000;
	text-align:left;
	line-height:22px;
	padding-left:15px;
	text-decoration:none;
}	

.proservice a
{
	color:#000;
	text-decoration:none;	
	text-transform: none;
}

.proservice a:hover
{
	text-decoration:underline;
	color:#03F;	
}

.bluehead
{
	font-family:sans-serif;
	font-size:11pt;
	font-weight:bold;
	color:#1c3784;
	text-align:center;
	line-height:30px;
	padding-right:20px;
}

.bluehead-proservice
{
	font-family:sans-serif;
	font-size:11pt;
	font-weight:bold;
	color:#1c3784;
	text-align:center;
	line-height:30px;	
	text-decoration: none;
}

.bluehead-proservice:hover
{
	text-decoration: underline;
}

.versign
{
	background-image:url(../images/verisign.jpg);
	background-repeat:no-repeat;
	background-position:center;
	width:97px;
	height:90px;
}


.grayline
{
	width:1px;
	height:15px;
	background-color:#CCC;
}

.date
{
	font-family:sanserif;
	font-size:12px;
	font-weight: bold;
	color:#F90;
	text-align:left;
	padding-bottom:10px;
}

.update
{
	padding-left:10px;
	padding-bottom:5px;
	padding-right:10px;
	
}



.marquee 
{
	position:relative;
     overflow:hidden;
     width:180px;
     height:180px;
	 text-align:left;
	 text-indent:justify;
     }


.jquerycssmenu
{
	font-family:sanserif;
	font-size:11px;
	color:#333;
	font-weight:bold;/*offset of tabs relative to browser left edge*/
}

.jquerycssmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.jquerycssmenu ul li{
position: relative;
display: inline;
float: left;
line-height:25px;
}

/*Top level menu link items style*/
.jquerycssmenu ul li a{
display: block;
padding: 0px 25px 0px 26px;
margin-right: 3px; /*spacing between tabs*/
color: #ffffff;
text-decoration: none;
text-transform:uppercase;
}

.jquerycssmenu ul li a:hover{

color:#F90;
}




/*1st sub level menu*/
.jquerycssmenu ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jquerycssmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jquerycssmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.jquerycssmenu ul li ul li a{
	font-family:Calibri;
	font-size:11px;
	color:#333;
	font-weight:bold;
	text-align: left justify;
	text-decoration:none;
	width: 125px; /*width of sub menus*/
	background:#DBDBDB;
	padding: 4px 5px;
	margin-left:1px;
	margin:0px;
	line-height:20px;
	border-bottom: 1px solid #fff;
}	

.jquerycssmenu ul li ul li a:hover{ /*sub menus hover style*/
background:  #8db3ff;
color: black;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 5px;
right:3px;
}

.rightarrowclass{
position: absolute;
top: 8px;
right: 5px;
}

/* VCM SERCURITIES JQUIRY*/

.jquerycssmenu1{font-family:calibri;
	font-size:11px;
	color:#333;
	font-weight:bold;/*offset of tabs relative to browser left edge*/
}

.jquerycssmenu1 ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.jquerycssmenu1 ul li{
position: relative;
display: inline;
float: left;
line-height:25px;
}

/*Top level menu link items style*/
.jquerycssmenu1 ul li a{
display: block;
padding: 0px 59px 0px 59px;
margin-right: 3px; /*spacing between tabs*/
color: #ffffff;
text-decoration: none;
text-transform:uppercase;
}

.jquerycssmenu1 ul li a:hover{

color:#F90;
}	

#product-submenu-bg
{
    background: Black;
    color: Red;
}
/*
#navbar {
   margin: 0;
   padding: 0;
   height: 1em; }
#navbar li {
   list-style: none;
   float: left;
   line-height:20px;
  }

#navbar li a {
   display: block;
   padding: 0px 32px 0px 32px;
   color: #fff;
   text-decoration: none; }
   
   #navbar li a:hover{
   display: block;
   color: #F90;
   text-decoration: none; }
#navbar li ul 
{
    display: none; 
    font-family:Trebuchet MS;
	font-size:11px;
	color:#333;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	width:150px;
   margin-right:30px;
 }
  
#navbar li:hover ul, #navbar li.hover ul {
   display: block;
   position: absolute;
   margin: 0;
   padding: 0;
   visibility:hidden; }
#navbar li:hover li, #navbar li.hover li 
{
   float: none;
   margin:0px;
   padding:0px;
}
#navbar li:hover li a, #navbar li.hover li a
{ 
   background-color:#DBDBDB;
   border-bottom: 1px solid #fff;
   color: #000;
   margin:0px;
   text-align:center;
   padding:0px;
}
#navbar li li a:hover
{
   background-color: #8db3ff;
}

#navbar li:hover ul, #navbar li.hover ul, #navbar li:hover ul{
   display: block;
   position: absolute;
   margin0px;
   padding: 0; }
#navbar li:hover li, #navbar li.hover li, #navbar li:hover li
{
   float: none;
   margin:0px;
   padding:0px;
}
#navbar li:hover li a, #navbar li.hover li a,#navbar li:hover li a
{ 
   background-color:#DBDBDB;
   border-bottom: 1px solid #fff;
   color: #000;
   margin:0px;
   text-align:center;
   padding:0px;
}
#navbar li li a:hover,#navbar li li a:hover
{
   background-color: #8db3ff;
}*/

.orange14
{
	font-family:sanserif;
	font-size:14px;
	font-weight:bold;
	color: #F90;
	text-align:left;
	line-height: normal;
	vertical-align:bottom;
	/*text-transform:uppercase;*/
}


.blue-13
{
	font-family:sanserif;
	font-size:14px;
	font-weight:bold;
	color:#0000ff;
	text-align:left;
	padding-left:15px;
	vertical-align:bottom;
	background-image: url(../images/bullet.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding-right:10px;
}

.blue-13 a
{
	text-decoration:none;
}


.blue-13 a:hover
{
	text-decoration:underline;
}

.blue-12
{
	font-family:sanserif;
	font-size:12px;
	font-weight:bold;
	color:#0000ff;
	text-align:left;
	line-height:normal;
	text-decoration:none;
}

.blue-12 a
{
	font-family:sanserif;
	font-size:12px;
	font-weight:bold;
	color:#000;
	text-align:left;
	line-height:normal;
	text-decoration:none;
}

.blue-12 a:hover
{
	color:#36F;
	text-decoration:underline;
}


.listitems a
{
	font-family:sanserif;
	font-size:12px;
	font-weight:bold;
	color: #333;
	text-align:left;
	text-decoration:none;	
}

.listitems a:hover
{
	font-family:sanserif;
	font-size:12px;
	font-weight:bold;
	color: #333;
	text-align:left;
	text-decoration:underline;
}


.listitems1 a
{
	font-family:sanserif;
	font-size:12px;
	font-weight:bold;
	color: #333;
	text-align:left;
	text-decoration:none;
}

.listitems1 a:hover
{
	font-family:sanserif;
	font-size:12px;
	font-weight:bold;
	color: #333;
	text-align:left;
	text-decoration:underline;
}

.emails a
{
	font-family:sanserif;
	font-size:12px;
	font-weight:normal;
	color: #4A69FB;
	text-align:left;
	text-decoration:underline;
}

.emails a:hover
{
	font-family:sanserif;
	font-size:12px;
	font-weight:normal;
	color:#4A69FB;
	text-align:left;
	text-decoration:none;
}


.desclaimer
{
	padding-top:20px;
	padding-bottom:10px;
	color:#06F;
	text-decoration:none;
}

.desclaimer a
{
	text-decoration:none;
}

.desclaimer a:hover
{
	color:#F90;
	text-decoration:underline;
}

.desclaimer-footer
{
    font-size: 12px;	
	text-decoration:none;
}

.desclaimer-footer a
{
	text-decoration:none;
	color:#0152AB;
}

.desclaimer-footer a:hover
{
	color:#F90;
	text-decoration:underline;
}

.weatherlist
{
	list-style-image:url(../images/bullets1.jpg);
	background-position:4px center;
	padding-left:0px;
	line-height:18px; 
	margin-top:3px;
	margin-bottom:3px;
}


.weatherlist a
{
	text-decoration:none;
}

.weatherlist a:hover
{
	text-decoration:underline;
	color: #0289ce;
}

.weatherlist1
{
	list-style-image:url(../images/bullets1.jpg);
	background-position:left center;
	line-height:18px; 
	margin-top:3px;
	margin-bottom:3px;
}


.weatherlist1 a
{
	text-decoration:none;
}

.weatherlist1 a:hover
{
	text-decoration:underline;
	color: #0289ce;
}


.bottomlink
{
	font-family:sanserif;
	font-size:12px;
	font-weight:bold;
	color:#000;
	padding-right:5px;
	padding-left:5px;
	text-decoration:none;
	text-align:left;
}

.bottomlink a
{
	font-family:sanserif;
	font-size:12px;
	font-weight:bold;
	color:#000;	
	padding-right:5px;
	padding-left:5px;
	text-decoration:none;
	text-align:left;
}

.bottomlink a:hover
{
	color:#666;
	text-decoration:underline;
}

/*  Login Screen CSS*/

.loginbg
{
	background-image:url(../images/login-bg.png);
	background-repeat:no-repeat;
	background-position:left top;
	width:418px;
	height:250px;
}

.userlogin
{
	background-image:url(../images/user-login.png);
	background-repeat:no-repeat;
	background-position:center;
	border-bottom:1px solid #828283;
}

.usename
{
	font-family:sanserif;
	font-size:18px;
	font-weight:bold;
	color:#000;
	text-align:center;
	padding-right:20px;
	line-height:30px;
}

.graytext
{
	font-family:sanserif;
	font-size:14px;
	color:#4e4e4e;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}

.graytext a
{
	font-family:sanserif;
	font-size:14px;
	color:#4e4e4e;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}

.graytext a:hover
{
	text-decoration:underline;
}

.contacthead
{
	font-family:sanserif;
	font-size:13px;
	font-weight:bold;
	text-align:left;
	color:#000080;
	line-height:30px;
	vertical-align:bottom;
}

.concontent
{
	font-size:11px;
   line-height:20px; 
   padding-left:10px;
   padding-top:5px;
   vertical-align:top;
}
  
.maincontalign
{
	padding-right:20px;
	text-indent:justify;
	padding-left:20px;
}

/* MAP CSS*/

.map
{
	background-image:url(../images/map.jpg);
	background-repeat:no-repeat;
	background-position:center;
	width:174px;
}

#main
{
	width:155px;
	height:80px;
	position:relative;
}

#add1
{
	width:9px;
	height:9px;
	margin-top:15px;
	margin-left:45px;
	position:absolute;
	padding:0px;
}

#add2
{
	width:9px;
	height:9px;
	margin-top:14px;
	margin-left:77px;
	position:absolute;
	padding:0px;
}

#add3
{
	width:9px;
	height:9px;
	margin-top:30px;
	margin-left:121px;
	position:absolute;
	padding:0px;
}

.tooltip-text-bold{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	line-height: 18px;
}

.tooltip-bg {
	background-image: url(../images/tooltip-middle.gif);
	background-repeat: repeat-y;
	background-position: left top;
}

.tooltip-text{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
	line-height: 18px;
}


/* WEATHER SIGNUP*/

.name
{
	font-family: sanserif;
	font-size:13px;
	color: #333;
	padding-right:5px;
	line-height:20px;
	vertical-align: top;
}

.star
{
	font-family: sanserif;
	font-size:15px;
	color: #FF4646;
	text-align:left;
	vertical-align:top;
}

.tablebg
{
	background-color:#E6E6E6;
	border:1px solid #999;
}

.small
{
	font-family: sanserif;
	font-size:11px;
	color: #333;
	vertical-align:middle;
}


/* Access Application*/

.links1
{
	font-family:sanserif;
	font-size:12px;
	color:#666;
	font-weight:normal;
	padding-right:10px;
}

.links1 a
{
	text-decoration:underline;
}

.links1 a:hover
{
	text-decoration:none;
}

.accountinfohead
{
	background-image:url(../images/bluebullet.png);
	background-repeat:no-repeat;
	background-position:3px 6px;
	text-align:left;
	color:#042fab;
	padding-left:15px;
	border-bottom:1px dashed #999;
	line-height:20px;
	vertical-align:middle;
}

/* Access Apllication Buttons CSS*/

.buttonbg11
{
	background-image:url(../images/btn-bg.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	width:168px;
	height:28px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#002e8c;
	text-align:left;
	padding-left:10px;
	text-decoration:none;
	vertical-align:middle;	
}

.buttonbg11 a
{
	color:#002e8c;
	text-decoration:none;	
}

.buttonbg11 a:hover
{
	color:#000000;
	text-decoration:none;	
}

.buttonbg11dis
{
	background-image:url(../images/btn-bg.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	width:168px;
	height:28px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#93999e;
	text-align:left;
	padding-left:10px;
	text-decoration:none;
	vertical-align:middle;
}

/*
.reqaccbtn
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	text-align:left;
	text-decoration:none;
	vertical-align:middle;
	padding-bottom:14px;
}

 
.reqaccbtn a
{
	background-image:url(../images/requestacccess.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px;
	height:28px;
	width:120px;
	text-decoration:none;
}


.reqaccbtn a:hover
{
	background-image:url(../images/requestacccess-over.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px;
	text-decoration:none;
}*/

.accessappbutton
{
	background-image:url(../images/btn-bg.jpg);
	background-repeat:no-repeat;	
	background-position:left center;
	width:168px;	
	height:24px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#002e8c;
	text-align:left;
	padding-left:10px;
	padding-top: 10px;
	text-decoration:none;
	vertical-align:top;			
}

.accessappbutton a
{    
	color:#002e8c;
	text-decoration:none;				
}

.accessappbutton a:hover
{
	color:#000000;
	text-decoration:none;	
}

.accessappbuttondisable
{
	background-image:url(../images/btn-bg.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	width:168px;
	height:28px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#93999e;
	text-align:left;
	padding-left:10px;
	padding-top: 10px;
	text-decoration:none;
	vertical-align:middle;	
}

.reqaccessbutton
{
	background-image:url(../images/requestacccess.jpg);
	background-repeat:no-repeat;
	background-position:left center;	
	width:168px;
	height:20px;
}

.reqaccessbutton:hover
{
	background-image:url(../images/requestacccess-over.jpg);
	background-repeat:no-repeat;
	background-position:left center;
}

.bluebutton
{
    background-image:url(../images/blubtnbg.jpg);
	background-repeat: repeat-x;
	background-position:left center;
	height: 26px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:White;	
}

.top-yellow-bg {
	background-image:url(../images/yellow-bg.gif);
	background-repeat:repeat-x;
	background-position: top;
}

.login{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}

.login-textfiled{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
	border: 1px solid #c6c6c6;
	padding:2px;
}

.forgot-link{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000;
	text-decoration: underline;
}
.forgot-link:hover{
	text-decoration: none;
}

.register-link{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #053076;
	text-decoration: underline;
}
.register-link:hover{
	text-decoration: none;
}

/* Footer CSS Start */
.footer-bg {
	background-image:url(../images/footer-bg.gif);
	background-repeat:repeat-x;
}

.footer-text{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #00055a;
	text-decoration: none;	
	
}
.footer-separator{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #5d5d5d;
	text-decoration: none;	
}

.footer-link{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #5d5d5d;
	text-decoration: none;	
}

.footer-link:hover{
	text-decoration: underline;	
}
/* Footer CSS End */

/* Beast Calc Payment */

#upnlPayment
{
    float:right;
    height:50px;
    background-color:Navy;
    color:White;
}

#upnlPayment li
{
    float:left;
    width:100px;
    border:solid 0px whilte;
}

#upnlPayment li .SelectedStep
{
    background-color:White;
    color:Navy;
}

/* Beast Calc Payment */