body
{
}

.header-bg
{
    background-color: #F0F0F0;
}

.footer-bg
{
    background: url("../images/footerNoise.png") repeat scroll 0 0 transparent;
    background-repeat: repeat;
    background-position:  center;
    color: #BFC7CE;
    display: block;
    height: 70px;
}

.logo
{
    background: url("../images/splash1.jpg") no-repeat scroll left top transparent;
    background-position: center;
    color: #777777;
    height: 56px;
    height: 100px;
}

.logoF2
{
    background: url("../images/F2_logo.png") no-repeat scroll left top transparent;
    color: #777777;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;    
    padding: 30px 50px 30px;
    text-indent: -9000px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.tagline-divider
{
    border-left: 1px solid #B2BBC3;
    float: left;
    height: 30px;
    margin: 20px 20px 0;
}

.examplePage
{
    background: url("../images/F2TopShadowBorder.png") no-repeat scroll center top #FFFFFF;
    padding-bottom: 50px;
    padding-top: 6px;
}
