/*----- Import CSS ---- */
@import url("bootstrap.min.css");
@import url("font-awesome.min.css");

/*----- Imported CSS End ---- */

@font-face {
	font-family: 'HelveticaNeueLTStd-Cn';
	src: url('../css/fonts/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'), url('../css/fonts/HelveticaNeueLTStd-Cn.otf') format('opentype'), url('../css/fonts/HelveticaNeueLTStd-Cn.woff') format('woff'), url('../css/fonts/HelveticaNeueLTStd-Cn.ttf') format('truetype'), url('../css/fonts/HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../css/fonts/opensans-regular_0-webfont.eot');
    src: url('../css/fonts/opensans-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/opensans-regular_0-webfont.woff2') format('woff2'),
         url('../css/fonts/opensans-regular_0-webfont.woff') format('woff'),
         url('../css/fonts/opensans-regular_0-webfont.ttf') format('truetype'),
         url('../css/fonts/opensans-regular_0-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ---------- styleguide --------- */
body {
	font-size:12px;
	font-family: 'open_sansregular';
    background:#000;
    color:#75a537;
}

img {
	max-width: 100%;
}
*:focus {
	outline: none !important
}
p {
	padding: 15px 0 0 0;
	margin: 0;
}

.fa {
	padding: 0 5px;
}

.fa.arrow:before {
	content: "\f0d7";
}
.active > a > .fa.arrow:before {
	content: "\f0d8";
}

.calcHldr{width:100%;margin: 0;padding: 0;border:1px solid #353535;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}


.header {background: #111921;padding: 0;}

.pagination {margin-top: 0px;}

.container{width:100%;}

/*.boxtable-border{border:1px solid #353535; margin:10px 0 20px 0; padding:0 15px; position:relative;}*/
.table-bordered > tbody > tr > td{border:1px solid #353535;padding:2px 5px;font-size:11px;}
.boxtable-logon{font-size:18px; color:#353535; font-family: 'HelveticaNeueLTStd-Cn';}
.boxtable-logon img{margin:0 10px 0 0;}
.boxtable-share{border-top:1px solid #353535; border-bottom:1px solid #353535; text-align:right; margin:10px 0;}
.boxtable-share .fa-share-alt-square{color:#ececec; background:#000; padding:0px; font-size: 15px; height: 12px; margin: 0 8px 0 0; padding: 0; border-radius:10px;}
.boxtable-share  .red{color:#FF0000 !important;}
.sub-header .connection-text .red{color:#FF0000 !important;}
.boxtable-share .fa-circle{color:#3ddb3d; margin:0 3px;}
.subtitle{border-bottom:2px solid #bebebe; display:block; margin:0 0 10px 0;}
.subtitle h2{font-size:12px; color:#233242; background:#dddede; padding:0 20px 0 5px; display:inline-block; margin:0; line-height:20px; text-transform:uppercase;}
.data-table{font-size:11px; font-family: 'open_sansregular';}
.data-table .table-bordered thead th{border:none; color:#353535; font-weight:normal; text-align:center; padding:0 0 3px 0;}
.data-table .table-bordered{border-top:0px; border-left:0px; border-right:0px; border-bottom:0px;}
.data-table .table-bordered tr td:first-child{/*border:0px; width:10%*/font-weight: bold;}
.data-table .table-bordered tr td{padding:2px 5px;text-align:left;}
.data-table .table-bordered tr td.title{color:#FFF;font-weight:bold;}
.data-table .table-bordered tr td input[type="text"]{margin:0; padding:0; border:0px; width:100%; text-align:left !important; font-size:12px; background:none; height:20px; color:#fff;cursor:pointer;text-indent: 6px;}
/*.boxtable-border .data-table .table-bordered tr td select{margin:0; padding:2px; border:0px; width:100%; text-align:right; font-size:10px; background:none; height:20px; color:#4a4a4a;}*/
.data-table .table-bordered tr td select{margin:0; padding:2px; border:0px; width:100%; overflow:hidden; text-align:left !important; font-size:12px;height:20px; color:#4a4a4a;background:url(../images/down-arrow.png) right no-repeat #000;	-webkit-appearance: none; -moz-appearance: none; color:#fff; scrollbar-darkshadow-color:#fff;cursor:pointer;}
.data-table .table-bordered tr td select option{background:#fff;border:1px solid #fff;margin:0;padding:0 !important;display:block;color:#000;}

/*.data-table .table-bordered tr td select option::selection{background-color:red}*/

    /*.data-table .table-bordered tr td select option:nth-child(2n+1)
    {
        background-color:red;
    }*/


/*.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color:red;*/


.data-table .table-bordered tr td input[type="button"]{margin:0; padding:4px 10px; border:0px; width:auto; font-size:12px; background:#233242; height:auto; color:#fff;}


.sub-header {background: #233242;}
.sub-header .title {color: #FFF;font-size:13px;line-height:25px;text-align: left;font-weight:bold;}
.sub-header .connection-text {color: #FFF;font-size: 11px;line-height: 25px;text-align: right;}
.sub-header .connection-text .fa-circle {color: #3ddb3d;}

.sub-header ul{position:relative;list-style:none;margin:0;padding:0;}
.sub-header ul li{margin:0;padding:0 15px 0 0;float:left;display:inline-block;color:#fff;font-size: 12px;line-height: 25px;}
.sub-header ul li .red{color:#FF0000 !important;}
.sub-header ul li .fa-circle{color:#3ddb3d; margin:0 3px;}

.calcHldr .logo img{width:150px;margin:5px 0;}
.calcHldr .connectionHldr{color: #fff;font-size: 11px;line-height:none;text-align: right;}
.calcHldr .connectionHldr ul {list-style:none;margin:0;padding:0;height: 34px;line-height: 34px;}
.calcHldr .connectionHldr ul li{list-style:none;margin:0 0 0 10px;display:inline-block;text-align:right;padding:0;position:relative;font-size:13px;font-weight:bold;}
.calcHldr .connectionHldr ul li:last-child{font-size:11px;line-height:normal;float:right;}
.calcHldr .connectionHldr .fa-circle {color: #3ddb3d;}

ul.bondYieldManual{position:relative;margin:0;padding:0;list-style:none;}
ul.bondYieldManual li{margin:0 15px 0 0;padding:0;float:left;display:block;}
ul.bondYieldManual li:last-child{margin:0;/*width:100%;*/}

.searchList{border:none;width:100%;margin-bottom:15px;}
.bymSearch{border:none;width:100%;}
.searchList > tbody > tr > td, .bymSearch > tbody > tr > td{border:1px solid #353535;padding:2px 5px;font-size:11px;}
.searchList > tbody > tr > td input[type="text"], .bymSearch > tbody > tr > td input[type="text"]{margin:0; padding:0; border:0px; width:100%; text-align:left !important; font-size:10px; background:none; height:20px; color:#fff;cursor:pointer;text-indent: 6px;}

.bymSearch > tbody > tr > td input[type="text"]{background:#353535;}

.searchList > tbody > tr > td input[type="button"], .bymSearch > tbody > tr > td input[type="button"]{margin:0; padding:4px 8px; border:0px; width:auto; font-size:11px; background:#233242; height:auto; color:#fff;}



[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-arrow-left {background-position: -240px -96px;}
.icon-arrow-right {background-position: -264px -96px;}





.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;

}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.01;
  filter: alpha(opacity=0.1);
}

.modal {
  /*height:40%;*/
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  /*margin-left: -280em;*/

  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

/*@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .modal {margin-left: -280px;}
  }*/

@media only screen and (-webkit-min-device-pixel-ratio: 1) {
     ::i-block-chrome, .modal {
        margin-left: -280em;
    }
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.pwmDvBottom .btn{padding: 2px 12px;background: #233242;color:#fff;}

.bymSearch > tbody > tr > td .fa-remove{color:#fff;font-size:14px;}
.bymSearch > tbody > tr > td button{background:none;border:none;}

.dvSpinUpArrow {
  background-image: url('images/Widget_UpDown1.png');
  background-repeat: no-repeat;
  background-position: center 2px;
}

.modalDisconnect{height:130px;}
.bymSearchBorder{border:2px solid #353535;margin-bottom:15px;}
.bymCloseBtn{width: 100%;min-width:inherit; /*padding: 14px 8px;*/}